.header {
    background: #FFCC2F;
    margin-bottom: 20px;
    width: 100%;
    
}

mark, .mark{
    background: orange;
    color: black;
}
    
    table {
        tr {
            p.description {
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }
    }